footer.container.py-5 
    .row
        .col-md-6 
            .nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/aboutus") About Us
                a.nav-link(href="/destinations") Destinations
                a.nav-link(href="/opinions") Opinions
        .col
            p.copyright.text-center.text-md-right
                | Copyright Patricio Pellegrini @
                span #{currentYear}