extends layouts/index

block content
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/aboutus.jpg", alt="image about us", class="img-fluid")
            .col-md-7
                h1 #{page} 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec leo sem. Maecenas vulputate imperdiet enim, id faucibus dui consectetur mattis. Nam in commodo ipsum.

                p Praesent sed fermentum mauris. Sed eleifend, dui dictum volutpat laoreet, sapien libero aliquam velit, a ornare felis lacus et tellus. Donec tempor leo id ipsum congue tristique. Maecenas tincidunt turpis at orci bibendum porta. Sed tempus et lectus quis fermentum. Sed hendrerit posuere tortor, quis egestas justo molestie vitae. Vivamus odio diam, vestibulum quis placerat nec, accumsan a risus. Mauris eget purus vel nisi cursus euismod. Duis mauris risus, sagittis vitae nisl a, congue placerat quam. Cras sed erat lacinia, vehicula orci ac, viverra augue.
        .list-icons
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icon_security.svg", alt="security icon", class="img-fluid mb-4")
                        h2.mb-4 Security
                        p Praesent sed fermentum mauris. Sed eleifend, dui dictum volutpat laoreet, sapien libero aliquam velit, a ornare felis lacus et tellus. Donec tempor leo id ipsum congue tristique. Maecenas tincidunt turpis at orci bibendum porta. Sed tempus et lectus quis fermentum. Sed hendrerit posuere tortor, quis egestas justo molestie vitae. Vivamus odio diam, vestibulum quis placerat nec, accumsan a risus. Mauris eget purus vel nisi cursus euismod. Duis mauris risus, sagittis vitae nisl a, congue placerat quam. Cras sed erat lacinia, vehicula orci ac, viverra augue.
                    .col-md-4
                        img(src="img/icon_destinations.svg", alt="destinations icon", class="img-fluid mb-4")
                        h2.mb-4 Destinations
                        p Praesent sed fermentum mauris. Sed eleifend, dui dictum volutpat laoreet, sapien libero aliquam velit, a ornare felis lacus et tellus. Donec tempor leo id ipsum congue tristique. Maecenas tincidunt turpis at orci bibendum porta. Sed tempus et lectus quis fermentum. Sed hendrerit posuere tortor, quis egestas justo molestie vitae. Vivamus odio diam, vestibulum quis placerat nec, accumsan a risus. Mauris eget purus vel nisi cursus euismod. Duis mauris risus, sagittis vitae nisl a, congue placerat quam. Cras sed erat lacinia, vehicula orci ac, viverra augue.
                    .col-md-4
                        img(src="img/icon_fares.svg", alt="fares icon", class="img-fluid mb-4")
                        h2.mb-4 Best Fares
                        p Praesent sed fermentum mauris. Sed eleifend, dui dictum volutpat laoreet, sapien libero aliquam velit, a ornare felis lacus et tellus. Donec tempor leo id ipsum congue tristique. Maecenas tincidunt turpis at orci bibendum porta. Sed tempus et lectus quis fermentum. Sed hendrerit posuere tortor, quis egestas justo molestie vitae. Vivamus odio diam, vestibulum quis placerat nec, accumsan a risus. Mauris eget purus vel nisi cursus euismod. Duis mauris risus, sagittis vitae nisl a, congue placerat quam. Cras sed erat lacinia, vehicula orci ac, viverra augue.